* {
    margin: 0;
    padding: 0;
}

input {
    -webkit-appearance: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#bigBox {
    width: 100%;
    height: 100%;
    position: relative;
}
header {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
    display: flex;
    font-size: 65px;
}

    header img {
        width: 100px;
        margin-top: 20px
    }

    header figcaption {
        margin-right: 500px;
        margin-left: 60px;
        margin-top: 20px;
    }

#list {
    list-style-type: none;
    margin-top: 20px;
}

li {
    float: left;
    width: 20%;
    height: 20%;
    font-size: 35px;
    padding-top: 20px;
    background-image: url(../img/caidan1.png);
    background-size: cover;
    color: white;
    padding-bottom: 15px;
    text-align: center;
}



.clear {
    clear: both;
}

div {
    /*margin: 15px;*/
    /*margin-top:10px*/
}

section {
    height: 85%;
    overflow: scroll;
    margin-bottom:150px;
    padding-left:10px
}

.divclass {
    display: none;
}

.td1 tr td {
    width: 33%;
    font-size: 40px;
    height: 300px;
}

    .td1 tr td p {
        padding-left: 20px;
    }

    .td1 tr td img {
        height: 270px;
        padding-left: 20px;
    }

.td1 div {
    margin-right: 10px
}


.counttime1 {
    width: 280px; /*预计倒计时*/
    height: 120px;
    background-color: #ffcc00;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 35px;
    padding-top: 15px;
}

.counttime2 {
    width: 280px; /*离正式开售时间*/
    height: 120px;
    background-color: #cccccc;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 35px;
    padding-top: 15px;
}


    .count {
        height: 80px;
        margin-top: 80px;
        margin-left: 20px;
        width: 100%
    }
/*计数样式*/
.td1 tr td input[type=text] {
    -webkit-appearance: none;
    text-align: center;
    width: 90px;
    height: 70px;
}

.countnormal {
    width: 73px;
    height: 73px;
    border: 2px solid orange;
    background-color: white;
    font-size: 50px;
    color: orange
}

.jia {
    border-radius: 0 20px 20px 0;
}

.jian {
    border-radius: 20px 0 0 20px;
}

/*菜单动态变化样式*/
.liactive {
    background-image: url(../img/caidan2.png);
    color: #199ed8
}

.show {
    display: block;
}

    .footer {
    position: absolute !important;
    bottom: 10px !important;
    width: 100% !important;
    text-align: center !important;
    z-index: 999 !important;
    margin: 0 !important
}

        .footer input {
            width: 80% !important;
            background-color: #199ed8 !important;
            font-size: 50px !important;
            padding: 10px !important;
            color: white !important;
            -webkit-border-radius: 20px !important;
            z-index: 999 !important;
            margin-top: 100px !important;
        }        
.sort {
    color: #cccccc;
    font-size: 40px;
    padding-left: 20px;
}

.add {
    width: 33%;
    font-size: 40px;
    height: 300px;
}

.recive_p {
    padding-top: 25px;
}

.txt {
    padding-top: 25px;
}
.txt2 {
    padding-top:0px!important;
}

img {
    width: 350px;
    height: 320px;
}
table{
    width:100%;
    table-layout:fixed
}

